@import "src/styles/base/vars";


.inputContainer {
  margin: 6px 0;
  background-color: map-get($color-list, 'white');
  padding: 8px 8px 8px 8px;
  border: 0;
  border-radius: 8px ;
}


.base {
  outline: none;
  background-color: transparent;
  border: none;
}