:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --stone: rgba(20, 20, 20, 1);
  --gray-light: rgba(240, 240, 240, 1);
  --blue: rgba(12, 62, 218, 1);
  --blue-light: rgba(78, 115, 229, 1);
  --pink: rgba(230, 80, 60, 1);
}
