@import 'src/styles/base/vars';

$colorsMapButton: (
  // full available params
        'locked_val': (
                'is_outline': false,
                'text': red,
                'border': blue,
                'background': green,
                'hover': blue,
                'hover_border': red,
                'active': yellow,
                'active_border': pink,
                'disabled_border': black,
                'disabled': gray,
                'disabled_text': black,
        ),
        'locked_val_outline': (
                'is_outline': true,
                'border': red,
                'hover_border': green,
                'active_border': pink,
                'disabled_border': green,
                'disabled': yellow,
                'disabled_text': black,
        ),
        'main_blue': (
                'is_outline': false,
                'text': map-get($color-list, 'white'),
                'border': map-get($color-list, 'primary_500'),
                'background': map-get($color-list, 'primary_500'),
                'hover': map-get($color-list, 'primary_700'),
                'hover_border': map-get($color-list, 'primary_700'),
                'active': map-get($color-list, 'primary_900'),
                'active_border': map-get($color-list, 'primary_900'),
                'disabled_border': black,
                'disabled': gray,
                'disabled_text': black,
        ),
        'main_blue_outline': (
                'is_outline': false,
                'text': map-get($color-list, 'primary_500'),
                'border': map-get($color-list, 'primary_500'),
                'hover': map-get($color-list, 'primary_700'),
                'hover_border': map-get($color-list, 'primary_500'),
                'hover_text': map-get($color-list, 'white'),
                'active': map-get($color-list, 'primary_900'),
                'active_border': map-get($color-list, 'primary_500'),
                'disabled_border': black,
                'disabled': gray,
                'disabled_text': black,
        ),
        'main_pink' : (
                'is_outline': false,
                'text': map-get($color-list, 'white'),
                'border': map-get($color-list, 'pink_100'),
                'background': map-get($color-list, 'pink_100'),
                'hover': map-get($color-list, 'pink_200'),
                'hover_border': map-get($color-list, 'pink_200'),
                'active': map-get($color-list, 'white'),
                'active_border': map-get($color-list, 'white'),
                'disabled_border': black,
                'disabled': gray,
                'disabled_text': black,
        ),
        'main_pink_outline': (
                'is_outline': false,
                'text': map-get($color-list, 'pink_100'),
                'border': map-get($color-list, 'pink_100'),
                'background': map-get($color-list, 'white'),
                'hover': map-get($color-list, 'green_100'),
                'hover_border': map-get($color-list, 'pink_200'),
                'active': map-get($color-list, 'green_200'),
                'active_border': map-get($color-list, 'pink_100'),
                'disabled_border': black,
                'disabled': gray,
                'disabled_text': black,
                'color': map-get($color-list, 'pink_100'),
        ),

  // prod values
);


@mixin colorizeButton($bg: undefined, $border: undefined, $defaultText: undefined, $outline: false, $text: undefined) {
  @if $outline {
    border-color: $border;
    background-color: transparent;
    color: $border;

  } @else if $bg != undefined {
    @if $defaultText == undefined {
      color: $text;
    } @else {
      color: $defaultText;
    }

    @if $border != undefined {
      background-color: $bg;
      border-color: $border;

    } @else {
      background-color: $bg;
      border-color: $bg;

    }
  } @else if $border != undefined {
    background-color: $border;
  }
  border-color: $border;
  border: 2px solid $border;
}

@each $name, $colors in $colorsMapButton {
  .btn_#{$name} {
    box-shadow: none;

    @include colorizeButton(
                    map-get($colors, 'background'),
                    map-get($colors, 'border'),
                    map-get($colors, 'text'),
                    map-get($colors, 'is_outline'),
                    map-get($colors, 'text'),
    );

    &:hover {
      @include colorizeButton(
                      map-get($colors, 'hover'),
                      map-get($colors, 'hover_border'),
                      map-get($colors, 'hover_text'),
                      map-get($colors, 'is_outline'),
                      map-get($colors, 'text'),
      );
    }

    &:checked, &:active {
      @include colorizeButton(
                      map-get($colors, 'active'),
                      map-get($colors, 'active_border'),
                      map-get($colors, 'active_text'),
                      map-get($colors, 'is_outline'),
                      map-get($colors, 'text'),
      );
    }
  }
}


.base {
  border-style: solid;
  border-radius: 40px;
}

.size_ {
  padding: 13px 43px;
}

.size_sm {
  padding: 10px;
}
