@import "src/styles/base/vars";

$font-types: (
        p8: 11px,
        p7: 12px,
        p6: 13px,
        p5: 14px,
        p4: 15px,
        p3: 16px,
        p2: 17px,
        p1: 18px,
);

@each $name, $color in $color-list {
  .color_#{$name} {
    color: $color;
  }
}

.p1 {
  font-size: map-get($font-types, 'p1');
}
.p2 {
  font-size: map-get($font-types, 'p2');
}
.p3 {
  font-size: map-get($font-types, 'p3');
}
.h1 {
  font-size: 32px;
}
.h2 {
  font-size: 28px;
}
.h3 {
  font-size: 24px;
}

.regular {
  font-family: Gilroy, serif;
  font-weight: 400;
}

.medium {
  font-family: Gilroy, serif;
  font-weight: 500;
}

.semibold {
  font-family: Gilroy, serif;
  font-weight: 600;
}

.bold {
  font-family: Gilroy, serif;
  font-weight: 700;
}