@import url("./variables");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {

  width: 100%;
  height: 100%;

  color: var(--foreground);
  background: var(--backbround);
  margin: 0;
  padding: 0;
}
